{% extends 'base.html.twig' %}

{% block title %}Edit Posts{% endblock %}

{% block body %}
    <h1>Edit Posts</h1>

    {{ include('posts/_form.html.twig', {'button_label': 'Update'}) }}

       <blockquote class="nk-blockquote"></blockquote>


    {{ include('posts/_delete_form.html.twig') }}
    <blockquote class="nk-blockquote"></blockquote>
     <a href="{{ path('app_posts_index') }}" class="nk-btn nk-btn-rounded nk-btn-color-main-1">back to list</a>
{% endblock %}
