{% extends 'base.html.twig' %}

{% block title %}New StoreReports{% endblock %}

{% block body %}
    <h1>Create new StoreReports</h1>

    {{ include('store_reports/_form.html.twig') }}

    <a href="{{ path('app_store_reports_index') }}">back to list</a>
{% endblock %}
