{% extends 'base.html.twig' %}

{% block title %}Edit Matches{% endblock %}

{% block body %}
<div class="nk-widget nk-widget-highlighted">
    <h1 class="nk-widget-title"><span><span class="text-main-1">Edit</span> Match</span></h1>
    <div class="nk-widget-content">
    

    {{ include('matches/_form.html.twig', {'button_label': 'Update'}) }}
<div class="nk-gap-1"></div>
<a href="{{ path('app_tournaments_show', {'id': tournament.id}) }}">back to tournament</a>
<div class="nk-gap-1"></div>
    {{ include('matches/_delete_form.html.twig') }}
{% endblock %}
