{% extends 'admin.html.twig' %}

{% block title %}Edit Badges{% endblock %}

{% block body %}
    <h1>Edit Badges</h1>

    {{ include('badges/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
