{% extends 'base.html.twig' %}

{% block title %}Edit Badges{% endblock %}

{% block body %}
    <h1>Edit Badges</h1>

    {{ include('badges/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_badges_index') }}">back to list</a>

    {{ include('badges/_delete_form.html.twig') }}
{% endblock %}
