{% extends 'admin.html.twig' %}

{% block title %}New Badges{% endblock %}

{% block body %}
    <h1>Create new Badges</h1>

    {{ include('badges/_form.html.twig') }}

    <a href="{{ path('app_badges_index') }}">back to list</a>
{% endblock %}
