{% extends 'base.html.twig' %}

{% block title %}New JoinRequests{% endblock %}

{% block body %}
    <h1>Create new JoinRequests</h1>

    {{ include('join_requests/_form.html.twig') }}

    <a href="{{ path('app_join_requests_index') }}">back to list</a>
{% endblock %}
