{% extends 'base.html.twig' %}

{% block title %}BadgeShips index{% endblock %}

{% block body %}
    <h1>BadgeShips index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for badge_ship in badge_ships %}
            <tr>
                <td>{{ badge_ship.id }}</td>
                <td>
                    <a href="{{ path('app_badge_ships_show', {'id': badge_ship.id}) }}">show</a>
                    <a href="{{ path('app_badge_ships_edit', {'id': badge_ship.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_badge_ships_new') }}">Create new</a>
{% endblock %}
