{% extends 'base.html.twig' %}

{% block title %}New UserLikesDislikes{% endblock %}

{% block body %}
    <h1>Create new UserLikesDislikes</h1>

    {{ include('user_likes_dislikes/_form.html.twig') }}

    <a href="{{ path('app_user_likes_dislikes_index') }}">back to list</a>
{% endblock %}
