{% extends 'base.html.twig' %}

{% block title %}Make the experience better!{% endblock %}

{% block body %}
    <h1>Choose your favorite games</h1>

    {{ include('user_game_preferences/_form.html.twig') }}

    <a href="{{ path('profile') }}">back</a>
{% endblock %}
