{% extends 'base.html.twig' %}

{% block title %}New Tournaments{% endblock %}

{% block body %}
    <h1>Create new Tournaments</h1>

    {{ include('tournaments/_form.html.twig') }}

    <a href="{{ path('app_tournaments_index') }}">back to list</a>
{% endblock %}
