<form method="post" action="{{ path('app_reports_delete', {'id': report.id}) }}" onsubmit="return confirm('Are you sure you want to delete the reported subject?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ report.id) }}">
    <button class="btn" style="color:red; position:relative; left: 40%; top:50%;background-color:black;font-style:bolder;border-radius: 10px;">Treat Report</button>
</form>
