
<div style="position:relative; left: 40%; top:50%;background-color:#181F2C;font-style:bolder;border-radius: 10px; width:18rem; padding:20px;">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn" style="position:relative; left: 10%;background-color:whitesmoke;font-style:bolder;border-radius: 10px;font-size:large;">{{ button_label|default('Send') }}</button>
{{ form_end(form) }}
</div>
