{% extends 'base.html.twig' %}

{% block title %}New Reports{% endblock %}

{% block body %}
    <h1>Create new Reports</h1>

    {{ include('reports/_form.html.twig') }}

    <a href="{{ path('app_reports_index') }}">back to list</a>
{% endblock %}
