{% extends 'base.html.twig' %}

{% block title %}New Reports{% endblock %}

{% block body %}
    <h1 style="position:relative; left: 30%; top:50%">Write your report</h1>
    {{ include('reports/_form.html.twig') }}
{% endblock %}
