{% extends 'admin.html.twig' %}

{% block title %}Edit HappyHours{% endblock %}

{% block body %}
    <h1>Edit HappyHours</h1>

    {{ include('happy_hours/_form.html.twig', {'button_label': 'Update'}) }}



{% endblock %}
