{% extends 'base.html.twig' %}

{% block title %}Edit Stores{% endblock %}

{% block body %}

<div class="nk-widget nk-widget-highlighted">
    <h1 class="nk-widget-title"><span><span class="text-main-1">Edit</span> Store</span></h1>
    <div class="nk-widget-content">
    {{ include('stores/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_stores_index') }}">back to list</a>

    {{ include('stores/_delete_form.html.twig') }}

        <hr>
        <hr>
        <div class="nk-copyright-right">
            <ul class="nk-social-links-2">
                <li><a class="nk-social-rss" href="#"><span class="fa fa-rss"></span></a></li>
                <li><a class="nk-social-twitch" href="#"><span class="fab fa-twitch"></span></a></li>
                <li><a class="nk-social-steam" href="#"><span class="fab fa-steam"></span></a></li>
                <li><a class="nk-social-facebook" href="#"><span class="fab fa-facebook"></span></a></li>
                <li><a class="nk-social-google-plus" href="#"><span class="fab fa-google-plus"></span></a></li>
                <li><a class="nk-social-twitter" href="#" target="_blank"><span class="fab fa-twitter"></span></a></li>
                <li><a class="nk-social-pinterest" href="#"><span class="fab fa-pinterest-p"></span></a></li>

                {% endblock %}
