{% extends 'base.html.twig' %}

{% block title %}Edit Games{% endblock %}

{% block body %}
    <h1>Edit Games</h1>

    {{ include('games/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_games_index') }}">back to list</a>

    {{ include('games/_delete_form.html.twig') }}
{% endblock %}
