{% extends 'admin.html.twig' %}

{% block title %}Edit Games{% endblock %}

{% block body %}
    <h1>Edit Games</h1>

    {{ include('games/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
