{% extends 'base.html.twig' %}

{% block title %}New Comments{% endblock %}

{% block body %}
    <h1>Create new Comments</h1>

    {{ include('comments/_form.html.twig') }}

    <a href="{{ path('app_posts_show', {'id': postId}) }}" class="nk-btn nk-btn-rounded nk-btn-color-main-1">back to post</a>
{% endblock %}
